#messageContainer {
  color: #c70039;
  font-family: "Poppins";
  text-shadow: 3px 1px #ff0000;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 25px;
  margin-top: 230px;
  flex-direction: row;
  width: 1000px;
  height: 300px;
}
body {
  background-color: #fbf3cd;
}
